name: Test and Release

# Run this job on all pushes and pull requests
# as well as tags with a semantic version
on:
    push:
        branches:
            - '*'
        tags:
            # normal versions
            - 'v[0-9]+.[0-9]+.[0-9]+'
            # pre-releases
            - 'v[0-9]+.[0-9]+.[0-9]+-**'
    pull_request: {}

# Cancel previous PR/branch runs when a new commit is pushed
concurrency:
    group: ${{ github.ref }}
    cancel-in-progress: true

permissions:
    id-token: write  # Required for OIDC
    contents: write

jobs:
    # Performs quick checks before the expensive test runs
    check-and-lint:
        if: contains(github.event.head_commit.message, '[skip ci]') == false

        runs-on: ubuntu-latest
        strategy:
            matrix:
                node-version: [22.x] # This should be LTS

        steps:
            - name: Checkout code
              uses: actions/checkout@v6

            - name: Use Node.js ${{ matrix.node-version }}
              uses: actions/setup-node@v6
              with:
                  node-version: ${{ matrix.node-version }}
                  cache: 'npm'

            - name: Install dependencies
              run: npm ci

            - name: Perform a type check
              run: npm run check
              env:
                  CI: true

            - name: Lint TypeScript code
              run: npm run lint

    # ===================

    # Runs unit tests on all supported node versions and OSes
    unit-tests:
        if: contains(github.event.head_commit.message, '[skip ci]') == false

        needs: [check-and-lint]

        runs-on: ${{ matrix.os }}
        strategy:
            matrix:
                node-version: [18.x, 20.x, 22.x, 24.x]
                os: [ubuntu-latest]

        steps:
            - name: Checkout code
              uses: actions/checkout@v6

            - name: Use Node.js ${{ matrix.node-version }}
              uses: actions/setup-node@v6
              with:
                  node-version: ${{ matrix.node-version }}
                  cache: 'npm'

            - name: Install dependencies
              run: npm ci

            - name: Run component tests
              run: npm run test
              env:
                  CI: true

    # ===================

    # Deploys the final package to NPM
    deploy:
        # Trigger this step only when a commit on master is tagged with a version number
        if: |
            contains(github.event.head_commit.message, '[skip ci]') == false &&
            github.event_name == 'push' &&
            startsWith(github.ref, 'refs/tags/v')

        needs: [unit-tests]

        runs-on: ubuntu-latest
        strategy:
            matrix:
                node-version: [22.x] # This should be LTS

        steps:
            - name: Checkout code
              uses: actions/checkout@v6

            - name: Use Node.js ${{ matrix.node-version }}
              uses: actions/setup-node@v6
              with:
                  node-version: ${{ matrix.node-version }}
                  cache: 'npm'

            - name: Extract the version and commit body from the tag
              id: extract_release
              # The body may be multiline, therefore we need to escape some characters
              run: |
                VERSION="${{ github.ref }}"
                VERSION=${VERSION##*/v}
                echo "VERSION=$VERSION" >> $GITHUB_OUTPUT
                EOF=$(od -An -N6 -x /dev/urandom | tr -d ' ')
                BODY=$(git show -s --format=%b)
                echo "BODY<<$EOF" >> $GITHUB_OUTPUT
                echo "$BODY" >> $GITHUB_OUTPUT
                echo "$EOF" >> $GITHUB_OUTPUT

            - name: Install dependencies
              run: npm ci

            - name: Create a clean build
              run: npm run build

            - name: Publish package to npm
              run: |
                  npm install -g npm@latest
                  npm publish

            - name: Create Github Release
              uses: softprops/action-gh-release@v2
              env:
                GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
              with:
                tag_name: ${{ github.ref }}
                name: Release v${{ steps.extract_release.outputs.VERSION }}
                draft: false
                # Prerelease versions create prereleases on Github
                prerelease: ${{ contains(steps.extract_release.outputs.VERSION, '-') }}
                body: ${{ steps.extract_release.outputs.BODY }}
